.navbar {
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar ul li {
    display: inline;
    margin: 0 15px;
}
.navbar ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.navbar ul li a:hover {
    text-decoration: underline;
    color: #582c07;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333333;
}
h1 {
    color: #4b2a07;
}
p {
    font-size: 16px;
    line-height: 1.5;
}