.navbar {
    background-color: #000000;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #72470e;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar ul li {
    display: inline;
    margin: 0 15px;
}
.navbar ul li a {
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
}
.navbar ul li a:hover {
    text-decoration: underline;
    color:  #72470e;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333333;
}
h1 {
    color: #72470e;
}
p {
    font-size: 16px;
    line-height: 1.5;
}

.logo {
    font-size: 32px;
    color: #72470e;
    text-align: center;
    margin-bottom: 10px;
}

.images {
    background-color: blanchedalmond;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid #72470e;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.boxes {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 1500px;
    border: 5px solid #72470e;
    border-radius: 15px;
    flex wrap: wrap;
    
}
.box {
    background-color: #fff;
    border: 2px solid #000000;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 20px;
}